.md-typeset h5 {
    text-transform: none;
}

.md-typeset h5, .md-typeset h6 {
    color: var(--md-default-fg-color);
    font-size: .9em;
    font-weight: 700;
    letter-spacing: -.01em;
    margin: 1.25em 0
}